[Unit]
Description=BiliBili Live Kit
Requires=network.target
After=network.target

[Service]
Environment=TZ=Asia/Shanghai
WorkingDirectory=/opt/bilibili-live/
ExecStart=/opt/bilibili-live/bilibili-live.py
Restart=always

[Install]
WantedBy=multi-user.target
