{
  "passports": [
    {
      "username": "your username",
      "password": "your password",
      "room_id": null
    },
    {
      "username": "your username",
      "password": "your password",
      "room_id": null
    }
  ],
  "logging": {
    "level": 20,
    "filename": "logging.log",
    "filemode": "w"
  }
}
